@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Raleway&family=Rubik&display=swap");

* {
  font-family: "Baloo Thambi 2", sans-serif;
}
.card {
  border-radius: 15px;
  animation: slideup 2s;
  -moz-animation: slideup 2s;
  -webkit-animation: slideup 2s;
  -o-animation: slideup 2s;
}
.card-title {
  padding-top: 30px;
  margin-left: 70%;
  font-size: 20px;
  text-align: right;
}

.container {
  margin: 0;
  padding-top: 10%;
}

.card-header {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  font-style: italic;
}
.card-text {
  font-size: 30px;
  text-align: left;
}

.button-group {
  margin-top: 30px;
  display: flex;
  margin-left: 62%;
  gap: 20px;
}

@media (max-width: 991.98px) {
  .button-group {
    margin-top: 50px;
    display: flex;
    margin-left: 35%;
    gap: 30px;
  }
}
